@mixin styleButton($color, $bg-color, $border, $fs, $fw, $pd-y, $pd-x) {
  color: $color;
  background-color: $bg-color;
  border: 1px solid $border;
  font-size: $fs;
  font-weight: $fw;
  padding: $pd-y $pd-x;
  cursor: pointer;
}

@mixin hoverButton($color-hover, $bg-color-hover, $border-hover) {
  color: $color-hover;
  background-color: $bg-color-hover;
  border: 1px solid $border-hover;
}

@mixin searchIconPosition($pos, $z-index, $top-index, $left-index) {
  position: $pos;
  z-index: $z-index;
  top: $top-index;
  left: $left-index;
}

@mixin styleText($color, $fs, $line-height, $pd-y, $pd-x) {
  color: $color;
  font-size: $fs;
  line-height: $line-height;
  padding: $pd-y $pd-x;
}

@mixin responsive($screen) {
  @if map-has-key($map: $breakpoints, $key: $screen) {
    $value: map-get(
      $map: $breakpoints,
      $key: $screen,
    );
    @media screen and (min-width: $value) {
      @content;
    }
  } @else {
    @warn "`{$screen}` isn't exist in breakpoints";
  }
}
