//*color
$color-gray-0: #62646a;
$color-gray-1: #555;
$color-gray-2: #d5d4d2;
$color-gray-3: #ddd;
$color-gray-4: #999;
$color-gray-5: #404040;

$color-green-0: #1dbf73;
$color-green-1: #19a463;
$color-green-2: #f1fdf7;

$color-white-0: #fff;

$bd-color-0: #dadbdd;
$bd-color-1: #b5b6ba;
$bd-color-2: #e4e5e7;

$color-arr: rgb(85, 85, 85);

//*font
$fs-0: 16px;
$fs-1: 24px;
$fs-2: 14px;
$fs-3: 32px;
$fs-4: 40px;
$fs-5: 48px;

$fw-0: 400;
$fw-1: 600;
$fw-2: 700;

//*line height
$lh-0: 40px;
$lh-1: 56px;
$lh-2: 48px;
$lh-3: 27px;

//*margin padding
$mg-0: 12px;

$pd-0: 24px;
$pd-1: 32px;
$pd-2: 48px;
$pd-3: 64px;
$pd-4: 7px;
$pd-5: 16px;

//* border radius
$br-0: 3px;

//* breakpoints
$breakpoints: (
  "screen-1": 1760px,
  "screen-2": 1400px,
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
);
