.business {
  background-color: #0d084d;
  .business__content {
    padding: 96px 0;
    width: 70%;
    margin: 0 auto 48px;
    .business--left {
      margin-bottom: 0;
      small {
        display: block;
        padding-bottom: 32px;
        font-size: smaller;
      }
      .fiverr-business-logo {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
      }
      .logo-span {
        text-transform: uppercase;
        background-color: #584aff;
        display: inline-flex;
        align-items: center;
        padding: 3px 7px 2px;
        border: 1px solid #584aff;
        border-radius: 10px;
        text-decoration: none;
        text-align: center;
        color: $color-white-0;
        font-size: $fs-2 - 4;
        font-weight: $fw-2;
        line-height: 100%;
      }
      h2 {
        max-width: 450px;
        color: $color-white-0;
        padding-bottom: $pd-0;
      }
      p {
        padding-bottom: 32px;
        max-width: 450px;
        color: #fff;
        font-size: $fs-0 + 2;
        line-height: 26px;
      }
      ul {
        list-style: none;
        margin-bottom: 3rem;
        li {
          padding-bottom: $pd-5 - 4;
          font-size: 1rem;
        }
        span {
          color: $color-white-0;
          & i {
            width: 24px;
            height: 24px;
            color: rgb(122, 125, 133);
            margin-right: $mg-0 - 2;
            min-width: 24px;
            font-size: $fs-1;
          }
        }
      }
      button {
        border-radius: 4px;
        position: relative;
        font-size: 1rem;
        line-height: 100%;
        padding: $pd-5 - 4 $pd-0;
      }
    }
  }
}
