header {
  min-width: 300px;
  color: $color-white-0;
  .fiverrNavbar {
    height: 80px;
    transition: 0.5s all;
    .fiverrNavbar__left {
      display: flex;
      align-items: center;
      .header-logo {
        width: auto;
        height: auto;
        min-width: 121px;
        margin: 0;
        padding-left: 0;
        .header-logo img {
          position: relative;
          margin: 3px 0 0;
          top: auto;
          left: auto;
        }
      }

      .fiverrNavbar__form-search {
        position: relative;
        .input-group {
          .input-group-search {
            @include searchIconPosition(absolute, 5, 8px, 8px);
          }
          input[type="search"] {
            width: 272px;
            font-size: $fs-0;
            padding: $pd-4 + 2 $pd-4 $pd-4 $pd-0 + 4;
            border-color: $color-gray-3;
            border-radius: $br-0 0 0 $br-0;
            &:focus {
              border-color: $color-gray-4;
              box-shadow: none;
            }
          }
        }
      }
    }
    .fiverrNavbar__right {
      font-weight: $fw-1;
      margin: auto 0 auto auto;
      padding: 0 $pd-4 + 3;
      .navbar-nav {
        .nav-link:hover {
          color: $color-green-0;
        }
      }
    }
  }
  .categoriesMenu {
    width: 70%;
    margin: 0 auto;
    &::before {
      content: "";
      display: block;
      border-top: 1px solid $color-gray-2;
      width: 100%;
    }

    nav {
      padding-left: 0;
      padding-bottom: 0;
    }
    ul li a {
      @include styleText($color-gray-0, $fs-0, 24px, $pd-4 + 1, 0);
    }
  }
}

.sticky {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}

@media only screen and (min-width: 1160px) {
  header {
    .fiverrNavbar {
      max-width: 1400px;
      margin: 0 auto;
    }
  }
}
